<div class="card" style="width: 500px; margin-top: 25px;">
    <img class="card-img-top" src="https://via.placeholder.com/500x100 " alt="Card image cap">
    <div class="card-body">

    <h1>{{titre}}</h1>
    <p>{{contenu}}</p>
    <div class="buttons">
        <button type="button" class="btn btn-success" (click)="plusUn()">{{compteurLikePlus}}</button>
        <button type="button" class="btn btn-danger" (click)="moinsUn()">{{compteurLikeMoins}}</button>
    </div>
        
    </div>
</div>
    
